---
---

html, body {
  height: 100%;
  font-family: Source Sans Pro, sans-serif;
}

// general style overrides

a, a:active, a:visited {
  color:#f2555b;
  padding-bottom:1px;

  &:hover {
    text-decoration:none;
    color:#ed1c24;
    padding-bottom:0px;
    border-bottom:1px dotted #f2555b;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family:"DIN Next W02 Medium", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin-top:10px;

  > a {
    display:inline;
  }
}

// site header

header#header {
  height:50px;
  background:#000000;

  h1 {
    background: url("http://mixlr-desk-assets.s3.amazonaws.com/img/mixlr_logo.png") no-repeat 19px 15px;
    background-position: 22px 18px;
    height: 50px;
    width: 85px;
    padding:0 5px 0 20px;
    text-indent:-9999px;
    margin:0px;
    float:left;

    > a {
      width:90px;
      display:block;

      &:hover {
        border-bottom:none;
      }
    }

    &:hover {
      background-color:#333;
    }
  }

  h2 {
    float:left;
    color:#fff;
    font-family:"Avenir LT W02 55 Roman", "Helvetica Neue", Helvetica, arial, serif;
    font-size:17px;
    height: 50px;
    margin: 0px;
    padding: 17px 15px 0 10px;

    a, a:active, a:hover, a:visited {
      color:#fff;
      border-bottom:none;
    }

    &:hover {
      background-color:#333;
    }
  }
}

// footer

footer.site-footer {
  > .row {
    max-width:none;
  }

  ul.contact-list li:last-child {
    padding-top:10px;
  }
}

// columns

.container-fluid {
  > .row {
    max-width:none;

    > #sidebar {
      display:none;

      @media only screen and (min-width: 767px) {
        display:block;
      }
    }

    > #main {

    }

  }

}

// posts (general)

.post {
  .post-header {
    margin-bottom:15px;

    h2.post-title {
      font-size:35px;
    }
  }

  .info_block {
    background:#efefef;
    padding:10px;
    margin-top:1em;
    margin-bottom:1.5em;
  }

  h2, h3, h4 {
    margin-top:1em;
  }
}

article {
  font-size:16px;
  max-width:800px;

  #disqus_thread {
    margin-top:40px;
  }
}

// posts (homepage list)

ul.post-list {
  > li {
    > h2 {
      margin:5px 0 0 0;
    }
  }
}

// sharing

.share {
  a, a:active, a:visited {
    padding: 2px 10px;
    border: 0;
    box-shadow: 0;
    width:7em;
    text-align:center;
    display: inline-block;
    color:white;
    font-size:13px;

    &.facebook {
      background:#3B5998;
    }

    &.twitter {
      background:#55acee;
    }

    &.gplus {
      background:#da4a38;
    }

    &.hn {
      background:#fe5200;
    }

    &.reddit {
      background:#c2dcf7;
    }
  }
}
