---
---

$red:#ed1c24;
$red_75:#f2555b;
$red_85:#f03e45;

$font_stack:"HelveticaNeueW01-55Roma", Arial, sans-serif;
$font_stack_italic:"HelveticaNeueW01-56It", Arial, sans-serif;
$font_stack_medium:"HelveticaNeueW01-65Medi", Arial, sans-serif;
$font_stack_bold:"HelveticaNeueW01-75Bold", Arial, sans-serif;

// mixins
@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

// html

html, body {
  height: 100%;
  font-family: $font_stack;
}

// general style overrides

a, a:active, a:visited {
  color:$red_85;
  padding-bottom:1px;

  &:hover {
    text-decoration:none;
    color:#ed1c24;
    padding-bottom:0px;
    border-bottom:1px dotted #f2555b;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family:$font_stack_bold;
  margin-top:2em;

  > a {
    display:inline;
  }
}

a.post-link {
  display:inline-block;
}

// site header

header#header {
  height:50px;
  background:$red;

  h1 {
    margin:0px;

    a {
      img {
        width:100px;
        height:auto;
        margin:3px 0px 0px 30px;
      }

      &:hover {
        border-bottom:none;
        text-decoration:none;
      }
    }
  }
}

// footer

footer.site-footer {
  > .row {
    max-width:none;
  }

  ul.contact-list li:last-child {
    padding-top:10px;
  }
}

// sidebar

#sidebar {
  > img {
    width:50%;
    height:auto;
    display:block;
    margin:30px auto;
  }
}

// columns

.container-fluid {
  > .row {
    max-width:none;

    > #sidebar {
      display:none;

      @media only screen and (min-width: 767px) {
        display:block;
      }
    }

    > #main {

    }

  }

}

// posts (general)

.post {
  .post-header {
    margin-bottom:15px;

    h2.post-title {
      font-size:35px;
    }
  }

  .info_block {
    display:block;
    background:#efefef;
    padding:10px;
    margin-top:1em;
    margin-bottom:1.5em;
  }

  h2, h3, h4 {
    margin-top:1em;
  }
}

article {
  font-size:15px;
  line-height:1.5em;
  max-width:600px;
  @include font-smoothing(on);

  img {
    margin:30px 0 30px 0;
  }

  #disqus_thread {
    margin-top:40px;
  }
}

// posts (homepage list)

ul.post-list {
  > li {
    > h2 {
      margin:5px 0 30px 0;
    }

    .info_block {
      display:none;
    }
  }
}

// sharing

.share {
  a, a:active, a:visited {
    padding: 2px 0px;
    border: 0;
    box-shadow: 0;
    width:90px;
    text-align:center;
    display: inline-block;
    font-family:$font_stack_medium;
    color:white;
    font-size:13px;

    &.facebook {
      background:#3B5998;
    }

    &.twitter {
      background:#55acee;
    }

    &.gplus {
      background:#da4a38;
    }

    &.hn {
      background:#fe5200;
    }

    &.reddit {
      background:#c2dcf7;
    }
  }
}
