* A friendly but focused team environment
* Regular pair-programming opportunities
* Friday beers with technical talks to share our knowledge
* A grown and battle-hardened stack to extend and learn from
* A genuinely large-scale system, and an active community that gives instant feedback on our changes
* The opportunity for your work to have a real impact on our company
* Flexible working hours
* Office stereo with rotating DJs in the team
* In-office sound effects triggered from Slack
* Competitive salary + equity package
