* A small, friendly team and fun (but focused) team environment
* A [fantastic office](http://eatworkart.com/netil-house/), plus [spectacular rooftop terrace and bar](https://www.instagram.com/p/8FkTZSo9M0/?taken-by=netil360) - perfectly situated in the heart of East London
* Regular pair-programming opportunities
* Friday beers with technical talks to share our knowledge
* A grown and battle-hardened stack to extend and learn from
* A genuinely large-scale system, and an active community that gives instant feedback on our changes
* The opportunity for your work to have a real impact on our company
* Flexible working hours
* Office stereo with rotating DJs in the team
* In-office sound effects triggered from Slack
* Competitive salary + equity package
